/* Reset & Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // user-select: none;

  // font-family: "Roboto", sans-serif;
  // font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  // font-weight: 400;
  font-style: normal;
}

html {
  font-size: 62.5%; // 1rem = 10px for easy calculations
}

body {
  font-size: 1.4rem;
  line-height: 1.6;
  margin: 0;
  padding: 1.3rem 3rem;
  background-color: $body-background-color;

  @media screen and (max-width: $screen_sm) {
    padding: 1rem 2rem 0;
  }

  p {
    font-size: 1.4rem;
    color: $primary-text-color;
  }
}

.cn {
  font-family: "Noto Serif SC", serif;
}
