/* Print Styles */
@media print {
  @page {
    // margin: 1in;

  }

  #aurora-background-container {
    display: none;
  }

  html {
    font-size: 40%;

    /* Reducing the base font size by 90% */
    h1,
    h2,
    h3 {
      text-shadow: unset !important;
    }
  }

  header,
  footer {
    // display: none;
  }

  body {
    padding: .5rem 1.5rem;
    font-size: 1.4rem;
  }

  section {
    padding: 0;

    .section-secondary-header {

      h3 {
        font-size: 1.5rem;
      }

      p {
        font-size: 1.3rem;
        white-space: nowrap;
      }
    }
  }

  #resume-main {
    max-width: none;
    /* Override desktop max-width for printing */
  }

  #projects-section {
    break-before: page;
    /* Modern browsers */
    page-break-before: always;
    /* Older browsers */
  }

}
