$ul-padding-1: 2.5rem;

#resume-main {

  // Section Styles
  section {
    margin: 0 0 1.8rem; // Use rem for consistency with other units

    >div {
      margin: 0 0 1.3rem;
    }

    h2 {
      font-size: 2.1rem; // Adjust font size with rem units
      font-weight: 700;
      letter-spacing: .03rem;
      font-family: "Playfair Display", serif;
      border-bottom: .1rem solid $border-color; // Use variable for border color
      padding-bottom: .1rem;
      margin: 0 0 .5rem;
      color: $heading-color; // Use variable for heading color
    }

    h3 {
      font-weight: 500;
      font-size: 1.6rem;
    }

    ul {
      padding: 0 0 0rem $ul-padding-1;
      display: flex;
      flex-direction: column;
      gap: .3rem;

      li {
        color: $secondary-text-color;
      }
    }

    .section-secondary-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: .1rem solid $border-color; // Use variable for border color
      margin: 0 0 .5rem;
      padding: 0 0 .3rem;
      gap: 0 1.3rem;

      @media screen and (max-width: $screen_sm) {
        flex-direction: column;
        align-items: flex-start;

        p {
          text-align: right;
          width: 100%;
        }
      }

      p {
        // color: $primary-color-light;
        // color: $primary-color-dark;
        font-weight: 500;

        &.duration,
        &.date {
          font-style: italic;
        }
      }
    }

    &#summary-section {
      p {
        text-align: justify;
      }
    }

    &#education-section {}

    /* Skills Section */
    &#skills-section {
      .dynamic-container {
        .li-skill {

          .skill-type-title {
            font-weight: 500;
          }

          .single-skill {
            // border: 1px solid red;
          }
        }
      }
    }

    &#experience-section {}

    &#certifications-section {
      .single-cert:not(:first-child) {
        .cert-header {
          margin: 1.5rem 0 0.5rem;
        }
      }
    }

    .single-job,
    .single-project,
    .single-cert {
      margin: 0 0 1.3rem;
    }

    .single-job:not(:last-child),
    .single-project:not(:last-child) {
      ul {
        padding: 0 0 1.3rem $ul-padding-1;
      }
    }

  }

  // // Skills Styles
  // #skills ul {
  //   list-style: none;
  //   padding: 0;
  // }
  //
  // #skills ul li {
  //   display: inline-block;
  //   background: $skill-bg-color; // Use variable for background color
  //   margin: .5rem;
  //   padding: .5rem 1rem .5rem 3rem;
  //   border-radius: $border-radius; // Use variable for border radius
  //   // font-size: 1.6rem; // Adjust font size with rem units
  //   color: $skill-text-color; // Use variable for text color
  // }
}
